<div class="container">
  <h1>About</h1>
  <p>When your plants are feeling down, we specialize in lifting them up! We are a workshop local to Austin, Texas and are the product of wood-worker Eric Jenne. We strive to deliver quality products and above-excellent, down-home, friendly customer service. <strong>Full site coming SOON!</strong></p>
</div>
