<div class="panel panel-default container">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible. <br><%= link_to "Keep looking around!", root_path, class: 'btn-link btn-lg' %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
