// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 150px;
}
.site-footer {
  background: black;
  color: white;
}
li {
  display: inline;
}

h1, h2 {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: black;
  text-align: center;
}

footer {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: black;
  text-align: center;
}
